@import "tailwindcss";

body {
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
}

@theme {
  --color-white: #ffffff;
  --color-light-purple: hsl(275, 100%, 97%);
  --color-medium-purple: hsl(292, 16%, 49%);
  --color-dark-purple: hsl(292, 42%, 14%);
}